<table>
    <tr>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Tarih</th>
        <th>İşlemler</th>
    </tr>
    {% for gorev in gorevler %}
    <tr>
        <td>{{ gorev[1] }}</td>
        <td>{{ gorev[2] }}</td>
        <td>{{ gorev[3] }}</td>
        <td>
            <a class="btn" href="/duzenle/{{ gorev[0] }}">Düzenle</a>
            <a class="btn" href="/sil/{{ gorev[0] }}" style="background:#c0392b;">Sil</a>
        </td>
    </tr>
    {% endfor %}
</table></div></div></div>


